<div class="wrapper">
  <h2 class="title">Image Gallery</h2>

  <div class="list" *ngIf="imageList?.length">

      <mat-card class="card" *ngFor="let image of imageList">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{image.description}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="image.imageUrl" alt="Photo from the firebase">
        <mat-card-actions class="actions">
          <button mat-raised-button color="warn" (click)="onRemove(image)">Remove Image</button>
          <a target="_blank" [href]="'https://www.google.com/search?q=' + image.description.split(' ').join('+')" > Google search {{image.description}}</a>
        </mat-card-actions>
      </mat-card>

  </div>
  <h4 *ngIf="!imageList?.length" class="no-images">There is no images. Please,   <a routerLink="/upload" >    <span>go to the Upload page</span>  </a>  and upload some image!</h4>
</div>
